USE [master]
GO
/****** Object:  Database [AracBakimVeTakipSistemi]    Script Date: 1.05.2026 22:31:59 ******/
CREATE DATABASE [AracBakimVeTakipSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AracBakimVeTakipSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AracBakimVeTakipSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AracBakimVeTakipSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AracBakimVeTakipSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AracBakimVeTakipSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AracBakimVeTakipSistemi]
GO
/****** Object:  Table [dbo].[Araclar]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclar](
	[AracID] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [nvarchar](15) NOT NULL,
	[Marka] [nvarchar](30) NOT NULL,
	[Model] [nvarchar](30) NOT NULL,
	[Yil] [int] NOT NULL,
	[SasiNo] [nvarchar](50) NOT NULL,
	[MusteriID] [int] NOT NULL,
 CONSTRAINT [PK_Araclar] PRIMARY KEY CLUSTERED 
(
	[AracID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BakimKayitlari]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BakimKayitlari](
	[KayitID] [int] IDENTITY(1,1) NOT NULL,
	[AracID] [int] NOT NULL,
	[HizmetID] [int] NOT NULL,
	[GelisTarihi] [datetime] NOT NULL,
	[CikisTarihi] [datetime] NOT NULL,
	[YapilanDetaylar] [nvarchar](max) NOT NULL,
	[ToplamUcret] [decimal](18, 2) NOT NULL,
	[PersonelID] [int] NOT NULL,
	[Durum] [nvarchar](20) NOT NULL,
	[OdemeYontemi] [nvarchar](20) NOT NULL,
	[AracKM] [int] NULL,
	[MusteriNotu] [nvarchar](max) NULL,
 CONSTRAINT [PK_BakimKayitlari] PRIMARY KEY CLUSTERED 
(
	[KayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hizmetler]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmetler](
	[HizmetID] [int] IDENTITY(1,1) NOT NULL,
	[HizmetAdi] [nvarchar](100) NULL,
	[StandartUcret] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Hizmetler] PRIMARY KEY CLUSTERED 
(
	[HizmetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](15) NOT NULL,
	[Mail] [nvarchar](100) NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[Sifre] [nvarchar](255) NULL,
	[KayitTarihi] [datetime] NULL,
	[AktifMi] [bit] NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NOT NULL,
	[UzmanlikAlani] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Personel] PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevular]    Script Date: 1.05.2026 22:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevular](
	[RandevuID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriID] [int] NOT NULL,
	[AracID] [int] NOT NULL,
	[RandevuTarihi] [datetime] NOT NULL,
	[Durum] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RandevuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Araclar] ON 

INSERT [dbo].[Araclar] ([AracID], [Plaka], [Marka], [Model], [Yil], [SasiNo], [MusteriID]) VALUES (2, N'34 JZ 987', N'Toyota', N'Corolla', 2023, N'NMTBE32E50R123456', 2)
INSERT [dbo].[Araclar] ([AracID], [Plaka], [Marka], [Model], [Yil], [SasiNo], [MusteriID]) VALUES (3, N'06 ELY 872', N'Bmw', N'İ5', 2025, N'WBA8E1G57JNU45678', 3)
INSERT [dbo].[Araclar] ([AracID], [Plaka], [Marka], [Model], [Yil], [SasiNo], [MusteriID]) VALUES (5, N'34 CCT 722', N'Kia', N'Sorento', 2010, N'KNAKU81B0AA123451', 5)
SET IDENTITY_INSERT [dbo].[Araclar] OFF
GO
SET IDENTITY_INSERT [dbo].[BakimKayitlari] ON 

INSERT [dbo].[BakimKayitlari] ([KayitID], [AracID], [HizmetID], [GelisTarihi], [CikisTarihi], [YapilanDetaylar], [ToplamUcret], [PersonelID], [Durum], [OdemeYontemi], [AracKM], [MusteriNotu]) VALUES (2, 2, 1, CAST(N'2026-03-28T12:30:00.000' AS DateTime), CAST(N'2026-04-01T09:00:00.000' AS DateTime), N'Periyodik bakım kapsamında motor yağı ve filtreler değiştirildi, genel kontrol yapıldı.', CAST(6000.00 AS Decimal(18, 2)), 5, N'Tamamlandı', N'Nakit', 32450, N'Periyodik bakım uyarısı veriyor, genel kontrol istendi.')
INSERT [dbo].[BakimKayitlari] ([KayitID], [AracID], [HizmetID], [GelisTarihi], [CikisTarihi], [YapilanDetaylar], [ToplamUcret], [PersonelID], [Durum], [OdemeYontemi], [AracKM], [MusteriNotu]) VALUES (5, 5, 5, CAST(N'2026-04-25T16:43:00.000' AS DateTime), CAST(N'2026-04-29T13:30:00.000' AS DateTime), N'Motor yağı ve yağ filtresi değiştirildi, hava ve polen filtreleri kontrol edilip gerekli değişimler yapıldı. Soğutma ve ateşleme sistemi kontrol edildi.', CAST(10000.00 AS Decimal(18, 2)), 1, N'Tamamlandı', N'Nakit', 215700, N'Motor çekişten düştü, yağ yakma şüphesi var.')
INSERT [dbo].[BakimKayitlari] ([KayitID], [AracID], [HizmetID], [GelisTarihi], [CikisTarihi], [YapilanDetaylar], [ToplamUcret], [PersonelID], [Durum], [OdemeYontemi], [AracKM], [MusteriNotu]) VALUES (42, 3, 3, CAST(N'2026-04-28T10:00:00.000' AS DateTime), CAST(N'2026-04-28T18:00:00.000' AS DateTime), N'Bilgisayarlı arıza tespiti yapılarak araç elektronik sistemleri kontrol edildi, tespit edilen hata kodları incelendi.', CAST(10000.00 AS Decimal(18, 2)), 3, N'Tamamlandı', N'Nakit', 8200, N'Ekranda motor arıza lambası yandı, kontrol edilsin.')
SET IDENTITY_INSERT [dbo].[BakimKayitlari] OFF
GO
SET IDENTITY_INSERT [dbo].[Hizmetler] ON 

INSERT [dbo].[Hizmetler] ([HizmetID], [HizmetAdi], [StandartUcret]) VALUES (1, N'Periyodik Bakım', CAST(6000.00 AS Decimal(18, 2)))
INSERT [dbo].[Hizmetler] ([HizmetID], [HizmetAdi], [StandartUcret]) VALUES (2, N'Fren Sistemi Kontrolü', CAST(4800.00 AS Decimal(18, 2)))
INSERT [dbo].[Hizmetler] ([HizmetID], [HizmetAdi], [StandartUcret]) VALUES (3, N'Bilgisayarlı Arıza Tespit', CAST(10000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Hizmetler] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Mail], [Adres], [Sifre], [KayitTarihi], [AktifMi]) VALUES (2, N'Ahmet', N'Demir', N'0546 744 65 73', N'ahmetdemr@gmail.com', N'Cumhuriyet Mahallesi, Vatan Caddesi, No:12, Güneş Apartmanı, Kat:3, Daire:8, Beşiktaş / İSTANBUL', N'497B75D0', CAST(N'2025-03-01T22:16:40.677' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Mail], [Adres], [Sifre], [KayitTarihi], [AktifMi]) VALUES (3, N'Mehmet', N'Yılmaz', N'0531 873 93 42', N'mhm06@gmail.com', N'Çukurambar Mahallesi, 1425. Sokak, Armağan İş Merkezi, B Blok, No:44/A, Çankaya / ANKARA', N'C9F1E63C', CAST(N'2025-03-05T09:56:40.677' AS DateTime), 1)
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Telefon], [Mail], [Adres], [Sifre], [KayitTarihi], [AktifMi]) VALUES (5, N'Nazlı', N'Akpınar', N'0536 439 62 49', N'nzlıakpnr@hotmail.com', N'Akşemsettin Mahallesi, Fevzi Paşa Caddesi, No:110, D:5 (Emniyet Karşısı), Fatih / İSTANBUL', N'0B04D568', CAST(N'2026-01-01T23:15:40.677' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Personel] ON 

INSERT [dbo].[Personel] ([PersonelID], [AdSoyad], [UzmanlikAlani]) VALUES (1, N'Selen Türk', N'Motor Mekanik')
INSERT [dbo].[Personel] ([PersonelID], [AdSoyad], [UzmanlikAlani]) VALUES (3, N'Ela Çelik', N'Oto Elektrik')
INSERT [dbo].[Personel] ([PersonelID], [AdSoyad], [UzmanlikAlani]) VALUES (4, N'Canan Aksu', N'Fren ve Süspansiyon Sistemleri')
SET IDENTITY_INSERT [dbo].[Personel] OFF
GO
SET IDENTITY_INSERT [dbo].[Randevular] ON 

INSERT [dbo].[Randevular] ([RandevuID], [MusteriID], [AracID], [RandevuTarihi], [Durum]) VALUES (1, 2, 2, CAST(N'2026-05-05T09:00:00.000' AS DateTime), N'Onaylandı')
INSERT [dbo].[Randevular] ([RandevuID], [MusteriID], [AracID], [RandevuTarihi], [Durum]) VALUES (2, 3, 3, CAST(N'2026-05-06T14:30:00.000' AS DateTime), N'Onaylandı')
INSERT [dbo].[Randevular] ([RandevuID], [MusteriID], [AracID], [RandevuTarihi], [Durum]) VALUES (3, 5, 5, CAST(N'2026-05-07T10:00:00.000' AS DateTime), N'Onaylandı')
SET IDENTITY_INSERT [dbo].[Randevular] OFF
GO
ALTER TABLE [dbo].[BakimKayitlari] ADD  DEFAULT ('Tamamlandı') FOR [Durum]
GO
ALTER TABLE [dbo].[BakimKayitlari] ADD  DEFAULT ('Nakit') FOR [OdemeYontemi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Musteriler] ADD  DEFAULT ((1)) FOR [AktifMi]
GO
ALTER TABLE [dbo].[Randevular] ADD  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Araclar]  WITH CHECK ADD  CONSTRAINT [FK_Araclar_Musteriler] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Araclar] CHECK CONSTRAINT [FK_Araclar_Musteriler]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [FK_BakimKayitlari_Araclar] FOREIGN KEY([AracID])
REFERENCES [dbo].[Araclar] ([AracID])
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [FK_BakimKayitlari_Araclar]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [FK_BakimKayitlari_Hizmetler] FOREIGN KEY([HizmetID])
REFERENCES [dbo].[Hizmetler] ([HizmetID])
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [FK_BakimKayitlari_Hizmetler]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [FK_BakimKayitlari_Personel] FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personel] ([PersonelID])
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [FK_BakimKayitlari_Personel]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Arac] FOREIGN KEY([AracID])
REFERENCES [dbo].[Araclar] ([AracID])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevu_Arac]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevu_Musteri] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevu_Musteri]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [CK_BakimDurum] CHECK  (([Durum]='İptal Edildi' OR [Durum]='Tamamlandı' OR [Durum]='Parça Bekliyor' OR [Durum]='Devam Ediyor' OR [Durum]='Bekliyor'))
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [CK_BakimDurum]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [CK_OdemeYontemi] CHECK  (([OdemeYontemi]='Kredi Kartı' OR [OdemeYontemi]='Nakit'))
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [CK_OdemeYontemi]
GO
ALTER TABLE [dbo].[BakimKayitlari]  WITH CHECK ADD  CONSTRAINT [CK_TarihKontrol] CHECK  (([CikisTarihi]>=[GelisTarihi]))
GO
ALTER TABLE [dbo].[BakimKayitlari] CHECK CONSTRAINT [CK_TarihKontrol]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [CK_RandevuDurum] CHECK  (([Durum]='Tamamlandı' OR [Durum]='İptal' OR [Durum]='Onaylandı' OR [Durum]='Beklemede'))
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [CK_RandevuDurum]
GO
USE [master]
GO
